@page "/"
         
@inject IJSRuntime JS

<ol>
    <li>Problem : I have to click once before I can stretch the div</li>  
    <li>Problem : When more one div...</li>  
    <li>Convert JS to module</li>
</ol>

   
@result

<div id="myDiv1" class="myTask" @onclick="@(i => onclick("myDiv1"))">
    <div class="resizer @display" @onmousedown="ondiv"></div>
</div>   

<br />

<div id="myDiv2" class="myTask" @onclick="@(i => onclick("myDiv2"))">
    <div class="resizer @display" @onmousedown="ondiv"></div>
</div>    


@code {
    private string result ="-";
    private string display = "handle-hidden";
    private string ID = "";
    private InvokeHelper? invokeHelper;

    protected override async Task OnInitializedAsync()
    {
        invokeHelper = new InvokeHelper(NewSize);
    }

    private void onclick(string id)
    {
        ID = id;
        display = "handle-visible";
    }

    private async Task ondiv()
    {
        if (invokeHelper != null)
        {    
            await JS.InvokeVoidAsync("startMove",
                    DotNetObjectReference.Create(invokeHelper),ID);
        }
    }

    private void NewSize(string message)
    {
        display = "handle-hidden";
        result = message;
        ID = "";
        StateHasChanged();    
    }
}