@page "/"
         
@inject IJSRuntime JS

1. problem : I have to click once before I can stretch the div

<div id="myDiv" class="myTask" @onmousedown="ondiv"></div>

@result


@code {
	private string result ="";
    private InvokeHelper? invokeHelper;

    protected override async Task OnInitializedAsync()
    {
        invokeHelper = new InvokeHelper(NewSize);
    }

    private async Task ondiv()
    {
        if (invokeHelper != null)
        {    
            await JS.InvokeVoidAsync("startMove",
                    DotNetObjectReference.Create(invokeHelper),"myDiv");
        }
    }

    private void NewSize(string message)
    {
        result = message;
        StateHasChanged();    
    }
}