@page "/"
         
@inject IJSRuntime JS

<ol>
    <li>Problem : I have to click once before I can stretch the div</li>  
    <li>Convert JS to module</li>
</ol>

   
@result

<div id="myDiv" class="myTask" @onclick="onclick">
    <div class="resizer @display"  @onmousedown="ondiv"></div>
</div>        



@code {
    private string result ="-";
    private string display = "handle-hidden";
    private InvokeHelper? invokeHelper;

    protected override async Task OnInitializedAsync()
    {
        invokeHelper = new InvokeHelper(NewSize);
    }

    private void onclick()
    {
        display = "handle-visible";
    }
    private async Task ondiv()
    {
        //resizer = "resizer right";
        if (invokeHelper != null)
        {    
            await JS.InvokeVoidAsync("startMove",
                    DotNetObjectReference.Create(invokeHelper),"myDiv");
        }
    }

    private void NewSize(string message)
    {
        display = "handle-hidden";
        //resizer = "display: none;";
        result = message;
        StateHasChanged();    
    }
}