.resizer {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    border: 3px solid #555555bd;
    position: absolute;
    right: -5px;
    top: calc(50/2+"px");
    cursor: col-resize;
}

.myTask {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4eabc4;
    position: relative;
}

    .myTask:hover:before {
        height: 100%;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        content: '';
        color:#555555bd;
        border-right: 8px solid;
        cursor: w-resize;
    }

    .myTask:hover .resizer {
        display: block;
    }

.handle-visible {
    display: block;
}
.handle-hidden {
    display: none;
}