.resizer {
    display: none;
    /*visibility: hidden;*/
    width: 10px;
    height: 10px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
    right: 0px;
    top: 15px;
    cursor: col-resize;
}

    /*.resizer.right {
        left: -5px;
        top: -5px;
        cursor: nwse-resize;*/ /*resizer cursor*/
    /*}*/

.myTask {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4eabc4;
    position: absolute;
}

/*    .myTask:hover:before {
        height: 100%;
        display: inline-block;
        position: absolute;
        right: -5px;
        top: 0px;
        content: '';
        color: darkgreen;
        border-right: 8px solid;
        cursor: w-resize;
    }*/

    /*.myTask:hover .resizer {
        display: block;*/
       /* visibility: visible;*/
       
    /*}*/

.handle-visible {
    display: block;
}
.handle-hidden {
    display: none;
}