@page "/page2"
         
@inject IJSRuntime JS

<h3>Use of js module</h3>

   
@result

<div id="myDiv1" class="myTask" @onmousedown="@(i => ondiv("myDiv1"))" />

<br />

<div id="myDiv2" class="myTask" >
    <div class="resizer @display" @onmousedown="@(i => ondiv("myDiv2"))"></div>
</div>    


@code {
    private string result ="-";
    private string display = "handle-hidden";
    private InvokeHelper? invokeHelper;

    private JsInterop jsInterop { get; set; }
    JsInterop GetJs()
    {
        if (jsInterop == null)
            jsInterop = new JsInterop(JS);
        return jsInterop;
    }

    protected override void OnInitialized()
    {
        invokeHelper = new InvokeHelper(NewSize);
    }

    private async Task ondiv(string id)
    {
        if (invokeHelper != null)
        {    
            await GetJs().StartMove( DotNetObjectReference.Create(invokeHelper), id);
        }
    }

    private void NewSize(string message)
    {
        display = "handle-hidden";
        result = message;
        StateHasChanged();    
    }
}